body{
  background-color: black;
  overflow: hidden;
  /*position: absolute;*/
  font-family: 'Roboto-Regular';
  color: white;
  margin: 50px;
}

#game-title{
  position absolute;
  left: 50%;
  display: flex;
  justify-content: center;
  item-align: center;
}

/*@keyframes svg {
  from{
  zoom: 1;
  }, to {
    zoom: 3;
  }
}*/